Repository bigeagle/aizotero: changes, and which lefthook commands are due for each by the changed paths.
All: python-format, python-lint, typescript-format, typescript-lint, typescript-type-check, trailing-whitespace, end-of-file

python-format:
  run: uv run black {staged_files}

python-lint:
  run: uv run ruff check {staged_files} --fix

typescript-format:
  run: cd frontend && pnpm format

typescript-lint:
  run: cd frontend && pnpm lint

typescript-type-check:
  run: cd frontend && pnpm type-check

trailing-whitespace:
  run: "if [ -n \"$STAGED_FILES\" ]; then\n  echo \"Fixing trailing whitespace...\"\n  sed -i '' 's/[[:space:]]*$//' $STAGED_FILES || sed -i 's/[[:space:]]*$//' $STAGED_FILES\nfi\n"

end-of-file:
  run: "if [ -n \"$STAGED_FILES\" ]; then\n  echo \"Fixing end of file...\"\n  for file in $STAGED_FILES; do\n    tail -c1 \"$file\" | read -r _ || echo >> \"$file\"\n  done\nfi"

docs: update CLAUDE.md with lefthook commands and git hooks
  CLAUDE.md
  README.md
Due: trailing-whitespace, end-of-file

docs: add AI generation disclosure to README
  README.md
Due: trailing-whitespace, end-of-file

feat: add arXiv PDF reading functionality with caching backend
  app/api/v1/arxiv.py
  app/main.py
  app/models/arxiv.py
  app/services/arxiv_service.py
Due: python-format, python-lint, trailing-whitespace, end-of-file

feat: complete arXiv integration with URL support
  CLAUDE.md
  frontend/src/components/AIChat.vue
  frontend/src/components/ArxivInput.vue
  frontend/src/router/index.ts
  frontend/src/services/arxivService.ts
  frontend/src/services/zoteroService.ts
  frontend/src/views/PaperList.vue
  frontend/src/views/PaperReader.vue
Due: typescript-format, typescript-lint, typescript-type-check, trailing-whitespace, end-of-file

refactor: separate chat history API into dedicated chat.py
  CLAUDE.md
  app/api/v1/chat.py
  app/api/v1/papers.py
  app/main.py
  frontend/src/components/AIChat.vue
Due: python-format, python-lint, typescript-format, typescript-lint, typescript-type-check, trailing-whitespace, end-of-file

refactor: clean up PaperContext interface and remove unused fields
  app/api/v1/chat.py
  frontend/src/components/AIChat.vue
  frontend/src/services/aiService.ts
Due: python-format, python-lint, typescript-format, typescript-lint, typescript-type-check, trailing-whitespace, end-of-file

docs: update Zotero Connector API with ID requirement
  docs/0003-zotero-connector-api.md
Due: trailing-whitespace, end-of-file

feat(zotero): add arXiv paper saving with duplicate detection
  .gitignore
  CLAUDE.md
  app/api/v1/arxiv.py
  app/services/arxiv_service.py
  app/services/zotero_connector.py
  docs/0003-zotero-connector-api.md
  docs/0004-save-arxiv-to-zotero-design.md
Due: python-format, python-lint, trailing-whitespace, end-of-file

feat(zotero): add save ArXiv papers to Zotero functionality
  app/services/zotero_connector.py
  frontend/src/services/zoteroService.ts
  frontend/src/views/PaperReader.vue
Due: python-format, python-lint, typescript-format, typescript-lint, typescript-type-check, trailing-whitespace, end-of-file

feat(ui): move arXiv input to navigation popup
  frontend/src/App.vue
  frontend/src/components/ArxivHoverPopup.vue
  frontend/src/components/ArxivInput.vue
  frontend/src/views/PaperList.vue
Due: typescript-format, typescript-lint, typescript-type-check, trailing-whitespace, end-of-file

docs: add TODO.md with development roadmap
  TODO.md
Due: trailing-whitespace, end-of-file

docs: update TODO.md with PDF URL support feature
  TODO.md
Due: trailing-whitespace, end-of-file

refactor(ui): replace click events with router-link for paper titles
  frontend/src/views/PaperList.vue
Due: typescript-format, typescript-lint, typescript-type-check, trailing-whitespace, end-of-file

feat(katex): replace marked-katex-extension with custom implementation
  frontend/package.json
  frontend/src/components/AIChat.vue
  frontend/src/env.d.ts
  frontend/src/utils/marked-katex-custom.ts
  frontend/vite.config.ts
Due: typescript-format, typescript-lint, typescript-type-check, trailing-whitespace, end-of-file

feat: reinitialize AI when paper changes
  frontend/src/components/AIChat.vue
Due: typescript-format, typescript-lint, typescript-type-check, trailing-whitespace, end-of-file

feat: add external URL link button to paper reader
  frontend/src/components/AIChat.vue
  frontend/src/views/PaperReader.vue
Due: typescript-format, typescript-lint, typescript-type-check, trailing-whitespace, end-of-file

feat(arxiv): add duplicate detection before saving papers to Zotero
  CLAUDE.md
  TODO.md
  app/api/v1/arxiv.py
  frontend/src/components/ArxivHoverPopup.vue
  frontend/src/components/ArxivInput.vue
  frontend/src/services/arxivService.ts
Due: python-format, python-lint, typescript-format, typescript-lint, typescript-type-check, trailing-whitespace, end-of-file

docs: enhance CLAUDE.md with comprehensive coding guidelines and architecture patterns
  CLAUDE.md
  TODO.md
Due: trailing-whitespace, end-of-file

refactor(routing): improve paper ID handling and URL unescape
  app/api/v1/papers.py
  frontend/src/components/AIChat.vue
  frontend/src/router/index.ts
  frontend/src/views/PaperReader.vue
Due: python-format, python-lint, typescript-format, typescript-lint, typescript-type-check, trailing-whitespace, end-of-file

style(chat): remove max-width constraints from chat messages
  frontend/src/components/AIChat.vue
Due: typescript-format, typescript-lint, typescript-type-check, trailing-whitespace, end-of-file

docs: add better PDF viewer integration to TODO
  TODO.md
Due: trailing-whitespace, end-of-file

feat(arxiv): integrate official API for enhanced paper metadata retrieval
  TODO.md
  app/models/arxiv.py
  app/services/arxiv_service.py
Due: python-format, python-lint, trailing-whitespace, end-of-file

feat(ui): add dynamic page titles for better navigation UX
  frontend/src/router/index.ts
  frontend/src/views/PaperReader.vue
Due: typescript-format, typescript-lint, typescript-type-check, trailing-whitespace, end-of-file

fix(PaperReader): add reactive prop watching for paper fetching
  frontend/src/views/PaperReader.vue
Due: typescript-format, typescript-lint, typescript-type-check, trailing-whitespace, end-of-file

fix: remove timeout for fetching models
  frontend/src/components/AIConfig.vue
Due: typescript-format, typescript-lint, typescript-type-check, trailing-whitespace, end-of-file

feat(frontend): 为 AI 配置表单添加保存按钮
  frontend/src/components/AIConfig.vue
  frontend/src/services/aiService.ts
  frontend/src/stores/aiStore.ts
Due: typescript-format, typescript-lint, typescript-type-check, trailing-whitespace, end-of-file

docs: add AGENTS.md for AI agent guidance
  AGENTS.md
Due: trailing-whitespace, end-of-file

feat: add proxy support for PDF download and arXiv metadata fetch
  .env.example
  app/core/config.py
  app/services/arxiv_service.py
Due: python-format, python-lint, trailing-whitespace, end-of-file

fix: avoid sending chat on IME enter
  frontend/src/components/AIChat.vue
Due: typescript-format, typescript-lint, typescript-type-check, trailing-whitespace, end-of-file

perf: reduce AI chat rendering overhead
  frontend/src/components/AIChat.vue
Due: typescript-format, typescript-lint, typescript-type-check, trailing-whitespace, end-of-file

feat: clarify math formatting prompt
  frontend/src/services/aiService.ts
Due: typescript-format, typescript-lint, typescript-type-check, trailing-whitespace, end-of-file

refactor: isolate AI chat input state
  frontend/src/components/AIChat.vue
  frontend/src/components/AIChatInput.vue
Due: typescript-format, typescript-lint, typescript-type-check, trailing-whitespace, end-of-file

feat(frontend): markdown/LaTeX debug test page + fix bracket parsing + vitest setup
  CLAUDE.md
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/App.vue
  frontend/src/router/index.ts
  frontend/src/utils/marked-katex-custom.test.ts
  frontend/src/utils/marked-katex-custom.ts
  frontend/src/views/MarkdownTest.vue
  frontend/vitest.config.ts
Due: typescript-format, typescript-lint, typescript-type-check, trailing-whitespace, end-of-file

chore: replace lefthook with prek
  .env.example
  .pre-commit-config.yaml
  CLAUDE.md
  frontend/.prettierrc.json
  frontend/eslint.config.js
  frontend/postcss.config.js
  frontend/tailwind.config.js
  frontend/tsconfig.json
  frontend/vite.config.ts
  lefthook.yml
  pyproject.toml
  uv.lock
Due: typescript-format, typescript-lint, typescript-type-check, trailing-whitespace, end-of-file

feat(frontend): integrate embedpdf viewer with spread mode support
  TODO.md
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/PdfViewer.test.ts
  frontend/src/components/PdfViewer.vue
  frontend/src/views/PaperReader.test.ts
  frontend/src/views/PaperReader.vue
Due: typescript-format, typescript-lint, typescript-type-check, trailing-whitespace, end-of-file

fix(frontend): enable annotation rendering for clickable PDF links
  frontend/src/components/PdfViewer.test.ts
  frontend/src/components/PdfViewer.vue
Due: typescript-format, typescript-lint, typescript-type-check, trailing-whitespace, end-of-file

fix(frontend): remove 'annotation' from disabledCategories to enable PDF link interactivity
  frontend/src/components/PdfViewer.test.ts
  frontend/src/components/PdfViewer.vue
Due: typescript-format, typescript-lint, typescript-type-check, trailing-whitespace, end-of-file

fix(frontend): hide Annotate/Shapes tabs while keeping PDF link interactivity
  frontend/src/components/PdfViewer.vue
Due: typescript-format, typescript-lint, typescript-type-check, trailing-whitespace, end-of-file

feat(frontend): persist spread mode & back navigation for PDF links
  frontend/src/components/PdfViewer.test.ts
  frontend/src/components/PdfViewer.vue
  frontend/src/composables/usePdfNavigation.ts
  frontend/src/views/PaperReader.vue
Due: typescript-format, typescript-lint, typescript-type-check, trailing-whitespace, end-of-file

Path conditions:
  python-format: any of: *.py
  python-lint: any of: *.py
  typescript-format: any of: *.{ts,vue,json}
  typescript-lint: any of: *.{ts,vue}
  typescript-type-check: any of: *.{ts,vue}
  trailing-whitespace: any of: *, but not: *.lock, *.svg, *.png, *.jpg
  end-of-file: any of: *, but not: *.lock, *.svg, *.png, *.jpg
